<p>Dear <%= lastName %>
        <%= firstName %>,</p>
<p>Thanks for signin up for nice app. We're excited to have you on board</p>

<p>Here are your account details:</p>

<ul style="
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    padding-left: 20px;
    "
>
    <li>Email: <%= email %>
    </li>
    <li>Login URL: <%= loginUrl %>
    </li>
</ul>

Thanks
Nest Blog Support